<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<img class="wave" src="../img/wave.png">
<div class="container">
    <div class="img">
        <img src="../img/in.png">
    </div>
    <div class="login-content">
        <form id="loginForm" onsubmit="return redirectToPage(event)">

            <img src="../img/user.png">
            <h2 class="title">Welcome</h2>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <h5>Username</h5>
                    <input type="text" name="username" class="input" required>
                </div>
            </div>
            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <h5>Password</h5>
                    <input type="password" name="password" class="input" required>
                </div>
            </div>
            <a href="#">Forgot Password?</a>
            <input type="submit" class="btn" value="Iniciar Sesion">
        </form>
    </div>
</div>

<script type="text/javascript" src="../js/Login.js"></script>

<script>
// Función para redirigir sin enviar el formulario
function redirectToPage(event) {
    // Prevenir el envío del formulario
    event.preventDefault();

    // Aquí aceptamos cualquier usuario y contraseña
    const username = document.querySelector('input[name="username"]').value;
    const password = document.querySelector('input[name="password"]').value;

    // Redirigir a la vista estática (cambia la URL según lo que necesites)
    if (username && password) {
        window.location.href = 'NavBar.html'; // Usamos la ruta relativa al archivo NavBar.html
    } else {
        alert("Por favor, ingresa un nombre de usuario y una contraseña.");
    }
}
</script>

</body>
</html>
